/* ../../common.blocks/clearfix/clearfix.css: begin */ /**/
    .clearfix:after
    {
        display: table;
        clear: both;
    
        content: '';
    }
    
/* ../../common.blocks/clearfix/clearfix.css: end */ /**/
